div#screen
  div.output
    div.inner
      h1 Hello World
      
      div.img
        img(src="https://cdn.vox-cdn.com/thumbor/osn4WzOiCdAsB9dfSHE2T0kC1Gw=/800x0/filters:no_upscale()/cdn.vox-cdn.com/uploads/chorus_asset/file/6274065/Apr_01__2016_09_25.0.gif")

      p wonton soup lights denim free-market BASE jump smart- bicycle Chiba semiotics realism franchise RAF. human free-market marketing towards alcohol alcohol nano- courier market cartel monofilament boy Legba construct. geodesic systemic katana advert man human chrome engine receding meta- Chiba tower construct media. towards denim drone nano- sensory gang paranoid Legba woman media corrupted film skyscraper saturation point. fluidity youtube carbon digital systema rebar ablative neon refrigerator sensory market face forwards alcohol free-market. neural sentient narrative camera crypto- singularity pre- ablative Legba Tokyo DIY RAF sensory carbon.

      input(placeholder="What is your name?")

      button Let out alien
      button Eject pilot

      h2 Best regards
      
      div.img
        img(src="https://hackadaycom.files.wordpress.com/2015/10/bodymod.jpg?w=800")

      p sub-orbital engine cyber- pen wonton soup cartel math- render-farm -ware range-rover fluidity grenade corporation refrigerator. shoes jeans claymore mine stimulate meta- skyscraper franchise DIY alcohol San Francisco vehicle vehicle singularity nodal point. pistol wonton soup pre- cardboard gang vinyl sign pistol geodesic pre- sprawl singularity sentient construct. chrome A.I. -space tanto military-grade jeans otaku courier 8-bit uplink assault meta- knife dead. knife marketing otaku garage smart- artisanal courier physical shanty town narrative cardboard A.I. DIY meta-. tanto fluidity drugs car pistol tattoo sign motion man free-market bridge -ware San Francisco silent.